[Unit]
Description=Docker Container MiniDLNA
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a minidlna
ExecStop=/usr/bin/docker stop -t 2 minidlna

[Install]
WantedBy=default.target
